#app {
  --appbackground: white;
  --primary-text: rgb(82, 82, 82);
  --primary-background: rgb(250, 250, 250);
  --primary-active: rgb(206, 206, 206);
  --secondary-text: rgb(117, 191, 166);
  --secondary-background: rgb(220, 253, 242);
  --secondary-active: rgb(177, 255, 229);
  --tertiary-text: rgb(177, 40, 52);
  --tertiary-background: rgb(248, 217, 222);
  --tertiary-active: rgb(252, 192, 202);

  background-color: var(--app-background);
}

#app[data-theme="dark"] {
  --app-background: black;
  --primary-text: rgb(180, 180, 180);
  --primary-background: rgb(30, 30, 30);
  --primary-active: rgb(80, 80, 80);
  --secondary-text: rgb(255, 255, 255);
  --secondary-background: rgb(52, 52, 52);
  --secondary-active: rgb(75, 75, 75);
  --tertiary-text: rgb(255, 255, 255);
  --tertiary-background: rgb(109, 109, 109);
  --tertiary-active: rgb(134, 134, 134);
}

.keyboard__container__button {
  color: var(--primary-text);
  background-color: var(--primary-background);
}
.keyboard__container__button:active {
  background-color: var(--primary-active);
}

.secondary {
  color: var(--secondary-text);
  background-color: var(--secondary-background);
}

.secondary:active {
  background-color: var(--secondary-active);
}

.tertiary {
  color: var(--tertiary-text);
  background-color: var(--tertiary-background);
}

.tertiary:active {
  background-color: var(--tertiary-active);
}

.screen {
  color: var(--secondary-text);
}
